Workflow RSS N8N.json
{
  "name": "Workflow RSS N8N",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "694a8a4e-165f-4558-a40e-05c684954c65",
              "leftValue": "={{ new Date(Date.now() - 24 * 60 * 60 * 1000) }}",
              "rightValue": "={{ $json.pubDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        320,
        -144
      ],
      "id": "5d6fac9f-af1b-4037-8de6-1077894be52b",
      "name": "Filter4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        -128
      ],
      "id": "2698638c-ba62-4112-90dd-b3481e9c8831",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "options": {
          "wait": true
        },
        "embeds": {
          "values": [
            {
              "description": "={{ $json.contentSnippet }}",
              "author": "={{ $json.creator }}",
              "timestamp": "={{ $json.isoDate }}",
              "title": "={{ $json.title }}",
              "url": "={{ $json.link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        784,
        -144
      ],
      "id": "00168c39-ce90-47f7-b8dd-76ff3e68a56b",
      "name": "Discord",
      "webhookId": "a405e0ce-0f0a-46d8-ae62-b0f2b2008bf9",
      "credentials": {
        "discordWebhookApi": {
          "id": "En2BQsJQT0zRvWgW",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a63aaa07-0197-45e7-9658-0314345baa0c",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "009e316b-014d-48b2-8c48-1a41e8fdf5f3",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "866f6535-29f9-4901-9a7f-95c9f60e6052",
              "name": "contentSnippet",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "787f0fe0-bd0d-4791-8cae-58f1dd4f0a06",
              "name": "creator",
              "value": "={{ $json.creator }}",
              "type": "string"
            },
            {
              "id": "4b19bfba-e3c9-41f2-95c8-898401af155a",
              "name": "isoDate",
              "value": "={{ $json.isoDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -144
      ],
      "id": "5307c6af-7f6b-4f83-94c2-1c4e90319892",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        -192
      ],
      "id": "f9b8e04f-aaee-496e-8e10-a1f7a4d71212",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.stat4decision.com/fr/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -336,
        -384
      ],
      "id": "06385c95-f57f-429e-969c-ddc71221b0cc",
      "name": "stat4decision.com",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "https://medium.com/feed/tag/data-engineering",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -336,
        -240
      ],
      "id": "589bbbe3-11e1-4546-b9e1-d63542850ff3",
      "name": "medium.com"
    },
    {
      "parameters": {
        "url": "https://blog.octo.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -336,
        -96
      ],
      "id": "16ba31da-223d-4edd-b78b-a89c60b3f5cf",
      "name": "blog.octo.com"
    },
    {
      "parameters": {
        "url": "https://practicaldataengineering.substack.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -336,
        64
      ],
      "id": "21115e11-2ef3-455f-8b66-a9b828157e2f",
      "name": "practicaldataengineering.substack.com"
    },
    {
      "parameters": {
        "url": "https://towardsdatascience.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -336,
        208
      ],
      "id": "9df0ce67-5e9f-4810-b8f9-1c07e4f345d3",
      "name": "towardsdatascience.com"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "stat4decision.com",
            "type": "main",
            "index": 0
          },
          {
            "node": "medium.com",
            "type": "main",
            "index": 0
          },
          {
            "node": "blog.octo.com",
            "type": "main",
            "index": 0
          },
          {
            "node": "practicaldataengineering.substack.com",
            "type": "main",
            "index": 0
          },
          {
            "node": "towardsdatascience.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stat4decision.com": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "medium.com": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "blog.octo.com": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "practicaldataengineering.substack.com": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "towardsdatascience.com": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "428b24b4-11f6-4157-af74-22431a2da14d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20d2c0ac6e8212dbf985d165f3d3ae3c950d1ca55882ea85796b45fb3ec4f115"
  },
  "id": "GD1zw51gcpknVyoB",
  "tags": []
}