Workflow LLM N8N.json
{
  "name": "Workflow LLM N8N",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        16
      ],
      "id": "c2cebd5f-a556-4788-b765-9871ffab608f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": " ",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a technology analyst. Only return structured JSON. Only include news from the last 24 hours from reliable sources. Do not output anything outside the JSON."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "Generate a strategic tech watch about AI, Data Engineering, MLOps and Cloud. Return exactly 5 recent articles with: title, author, link, description, date and importance (high, medium, low)."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        16
      ],
      "id": "2d810afb-3c70-4af8-b63f-4d4bccf5728c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini-search-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        192,
        208
      ],
      "id": "a17ad25c-717a-42d5-91ca-b6ad814cc4b7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kR3ZA8R0q6U1dcPh",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.first().json.output.articles;\n\nconst priority = {\n  high: 3,\n  medium: 2,\n  low: 1\n};\n\narticles.sort((a, b) => priority[b.importance] - priority[a.importance]);\n\nreturn articles.map(article => {\n  return {\n    json: {\n      title: article.title,\n      author: article.author,\n      link: article.link,\n      description: article.description,\n      date: article.date,\n      importance: article.importance\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        16
      ],
      "id": "be37c74f-67d1-4c64-9d40-456044b288a4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "={{ $json.description }}\n\n{{ $json.importance }}",
              "timestamp": "={{ $json.date }}",
              "title": "={{ $json.title }}",
              "url": "={{ $json.link }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        736,
        16
      ],
      "id": "b47db843-4b34-4f36-b49e-e97d2ad0b173",
      "name": "Discord",
      "webhookId": "f840efbe-08ab-4357-bbf5-d8babb519b5b",
      "credentials": {
        "discordWebhookApi": {
          "id": "En2BQsJQT0zRvWgW",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"articles\": [\n    {\n      \"title\": \"\",\n      \"author\": \"\",\n      \"link\": \"\",\n      \"description\": \"\",\n      \"date\": \"\",\n      \"importance\": \"\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        336,
        208
      ],
      "id": "539372b1-8ab6-4e9f-bf51-5327e1a33f97",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f7a59187-a19c-48a0-b476-4aae6561c56c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20d2c0ac6e8212dbf985d165f3d3ae3c950d1ca55882ea85796b45fb3ec4f115"
  },
  "id": "PZx4noZSMrSi7CvH",
  "tags": []
}